</body>

<div class="card text-center footer bg-success ">
  <div class="card-body">
    <h5 class="card-title">Designed and Developed by Krunal</h5>
    <p class="card-text">TradeMark 2020</p>
  </div>
</div>
</html>